

.block-start-info {
    width: 80%;
    margin-top: 7%;    
}

.main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "Franklin Gothic Medium";        
}

.img-reg {
    margin-top: 10px;
    max-width: 61%;
    max-height: 40%;
    border: 12px solid #d0c9af;
    z-index: 1;
}

.reg-btn {
    width: 100%;
    height: 50px;
    font-size: 20px;
    background-color: #cc574d;
    color: antiquewhite;   
    border: none;
    border-radius: 30px;
    cursor: pointer;
}
.reg-btn-link {
    margin-top: -75px;
    min-width: 40%;
    font-size: 20px;
    z-index: 2;
}

.reg-btn:hover {
    background: antiquewhite;
    color: rgba(0, 0, 0, 0.65);
    transform: translateY(-3px);  
}


.header-label-tbl {
    margin-top: 30px;
    font-size: 50px;
    text-align: center;
}

.main-container h1 {   
    font-size: 50px;
}

.main-container h2 {  
    font-size: 23px;
    margin-top: -20px; 
}

.main-container .block-start-info ul {
    list-style-image: url("./../../images/velo.png");
}

.main-container .block-start-info li {
    padding-left: 2px;
    padding-bottom: 2px;
    font-size: 17px;
}

.block-start-info {
    display: flex;
    justify-content: space-between;
}

.block-start-info img {
    margin-left: 15px;
    width: 70%;
}

.block-start-info img:hover {
    margin-left: 100px;
    transition: .65s;
}

.info-statistics {
    padding-top: 40px;
    width: 80%;
}

.info-statistics ul {
    list-style: none;
}

.info-statistics ul li {
    float: left;
    width: 20%;
}
.part-of-statistics {
    align-content: center;
    float: none;
}

.fact-of-statistics {
    border-bottom: 1px solid  rgba(0, 0, 0, 0.65);
    font-size: 20px;
}

.second-block {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color:  #d0c9af;
}

.third-block {
    margin-top: 20px;
    width: 80%;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
}

.third-block img {
    margin-left: 10px;
    max-width: 60%;
}

.part-map {
    width: 19%;
    margin: 0px;
}

.parts-map {
    width: 100%;
}